html {
        box-sizing: border-box;
}

body {
        background-color: #aaaa;
}
header {
        background-color: green;
}

section {
        background-color: tomato;
}

.header__inner {
        background-color: yellow;
}